# .gitignore

# Dependencies
/node_modules
/chat-backend/node_modules
/chat-frontend/node_modules

# Environment Variables
.env
.env.*
/chat-backend/.env
/chat-frontend/.env.development

# Build output
/dist
/chat-frontend/dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/chat-backend/_logs

# IDE / OS files
.vscode
.idea
.DS_Store